<ion-header>
  <ion-toolbar>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <form>
          <ion-item>
            <ion-label position="floating">Enter your email address associated with your account</ion-label>
            <ion-input type="email" #email required></ion-input>
          </ion-item>
          <ion-button expand="block" type="submit" (click)="authService.passwordRecover(email)">Reset Password</ion-button>
        </form>
      </ion-col>      
    </ion-row>
    
  </ion-grid>

</ion-content>
