<ion-content padding fullscreen>
  <app-header></app-header>

  <section id="introduction">
    <div class="first-hero-bg">

    </div>
  </section>

  <section id="icon-section">
    <div class="profile-image">
      <img src="{{ authService.userData.photoURL }}" alt="{{ authService.userData.displayName }}" height="172"
        width="172" />
    </div>
    <h1>My Dashboard</h1>
    <div class="linkHolder"><a href="#"><span>view my profile</span></a></div>
    <div class="centered">
      <ion-button size="large" shape="pill">add to wishlist</ion-button>
    </div>
    <div class="complete-profile">
      <div class="context-width light container">
        <h1>Complete Your Profile</h1>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-item detail="false" (click)="addBirthday()">
                <ion-icon name="finger-print-outline" class="icon-circled"></ion-icon>
                <ion-label>Enter your birthday</ion-label>
                <ion-icon name="arrow-forward-outline"></ion-icon>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item detail="false" (click)="addBirthday()">
                <ion-icon name="finger-print-outline" class="icon-circled"></ion-icon>
                <ion-label>Enter your birthday</ion-label>
                <ion-icon name="arrow-forward-outline"></ion-icon>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item detail="false" (click)="addBirthday()">
                <ion-icon name="finger-print-outline" class="icon-circled"></ion-icon>
                <ion-label>Enter your birthday</ion-label>
                <ion-icon name="arrow-forward-outline"></ion-icon>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>

      </div>
    </div>

    <div class="exchange-container">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="4" *ngFor="let exchange of exchanges">
            <ion-card>
              <ion-img src="{{exchange.image}}"></ion-img>
              <ion-card-header>
                <ion-card-title>
                  {{exchange.name}}
                </ion-card-title>

              </ion-card-header>

              <ion-button>view details</ion-button>

            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </section>

  <section id="card-container">

  </section>



  <app-footer></app-footer>
</ion-content>